body {
  background-image: url('n1977s.jpg');
  margin: 0;
}

div#wrapper div#amara {
  font-size: 2em;
  text-align:center;
  text-transform: uppercase;
  display:block;
  margin: 20px auto 0 auto;
  width: 100%;
  padding: 0;
  border: 0;
}

@media screen and (max-width: 600px) {
  div#wrapper div#amara {
    width: 90%;
  }
}

@media screen and (min-width: 601px) {
  div#wrapper div#amara {
    width: 60%;
  }
}

div#amara div#imgwrapper {
  margin: 0 auto;
}

div#amara div#imgwrapper img {
  width:100%;
}

div#wrapper div#amara div#caption {
  font-size: .5em;
}

div #credit {
  font-size: .2em;
}
